<h1>Edit this author</h1>


<% if @author.errors.any?%>
	<% @author.errors.full_messages.each do |error|%>
		<p class="text-danger">
			<%= error %>
		</p>
	<% end %>
<% end %>


<%= form_for @author do |f| %>
<p class="form-center">
	<%= f.label :first_name %>
	<%= f.text_field :first_name %>
</p>
<p class="form-center">
	<%= f.label :last_name %>
	<%= f.text_field :last_name %>
</p>
<p class="form-center">
	<%= f.label :age %>
	<%= f.number_field :age %>
</p>
<p class="form-center">
	<%= f.submit %>
</p>
<% end %>

<p>
<%= link_to "Delete", author_path(@author), method: "delete", data: { confirm: "Are you sure you want to remove this author?"} %>
</p>
<p>
<%= link_to "Back to #{@author.first_name}", author_path %>
</p>