<h1>Add an Author Below:</h1>


<%= form_for @author do |f| %>
<p>
	<%= f.label :first_name %>
	<%= f.text_field :first_name %>
</p>
<p>
	<%= f.label :last_name %>
	<%= f.text_field :last_name %>
</p>
<p>
	<%= f.label :age %>
	<%= f.number_field :age %>
</p>
<p>
	<%= f.submit %>
</p>

<% end %>

<%= link_to "Authors Page", authors_path %>